*,
*::before,
*::after {
  box-sizing: border-box;
}
:root {
  --color-primary: #CA0001;
  --color-secondary: #07077B;
  --color-tertiary: #FFD93B; /*yellow*/
  --color-quaternary: #CA0001;
  --color-quinary: #07077B;
}

body {
  background-color: #FDF9E9;
  color: #343a40;
  margin: 0;
  padding: 0;
 font-family: 'Share Tech Mono', monospace;
}

.animate_content {
  animation: animate 3s ease;
}

@keyframes animate {
  10% {
    transform: scale(1, 0.002);
  }
  35% {
    transform: scale(0.2, 0.002);
    opacity: 1;
  }
  50% {
    transform: scale(0.2, 0.002);
    opacity: 0;
  }
  85% {
    transform: scale(1, 0.002);
    opacity: 1;
  }
  100% {
    transform: scale(1, 1);
  }
}

.fadeIn {
  z-index: 10;
}

 .border-image-container {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      height: 100%;
      pointer-events: none;
    }

  .border-image {
      position: absolute;
      top: 0;
      height: 100%;
      width: 25px; /* Adjust the width as needed */
      background-repeat: repeat-y;
      background-position: left top;
      background-size: contain; /* Maintain original image dimensions */
  }

  .border-image.left {
      left: 0;
      background-image: url("oyu.png"); /* Path to the left border image */
    }

  .border-image.right {
      right: 0;
      background-image: url("oyu.png"); /* Path to the right border image */
      background-position: right top;
  }

.topnav {
  background-color: #07077B;
  overflow: hidden;
  border: 4px solid #FFD203;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #FFD203;
  text-align: center;
  padding: 14px 16px;
  font-size: 25px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #CA0001;
  color: black;
}
.topnav img{
  margin-left:20px;
  margin-right: 20px;
}

@media (max-width: 768px) {
  .navbar-nav {
    flex-direction: column;
  }

  .navbar-collapse {
    text-align: center;
  }

  .navbar-toggler {
    margin: 10px 0;
  }

  .form-control {
    margin-top: 10px;
  }

}

/* Add a color to the active/current link */

/* Add CSS for the folder icons */
.box-container {
  position: absolute;
  top: 500px;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  width: 600px;
  height: 200px;
  background-color: #07077B;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  border: 10px #CA0001; 
  border-style: inset;/* Add the inset border */
}

.box-container p {
  margin-top: 500px;
  font-size: 25px;
  color: #FFD203;
  line-height: 1.25;
  margin-bottom: 20px;
  text-align: center;
}

.folder-container {
  display: flex;
  margin-top: 3%;
  justify-content: space-between; /* Evenly distribute icons horizontally */
  align-items: center; /* Align icons vertically in the center */
  padding: 0 10px; /* Adjust the padding as needed */
}

.folder-icon {
  background-size: cover;
  background-position: center;
  cursor: pointer;
  margin: 0; /* Remove the default margins */
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.folder-icon span {
  color: #CA0001;
  font-size: 16px;
  text-align: center;
  margin-top: 82px;
}

.folder-projects {
  width: 100px; /* Adjust the size as needed */
  height: 80px;
  margin-left: 80px;
  background-image: url('images/folder.png'); /* Add the path to the image for the folder */
}

.folder-aboutme {
  width: 80px; /* Adjust the size as needed */
  height: 100px;
  background-image: url('images/aboutme.png'); /* Add the path to the image for the folder */
}

.folder-letter {
  width: 80px; /* Adjust the size as needed */
  height: 100px;
  margin-right: 80px;
  background-image: url('images/letter.png'); /* Add the path to the image for the folder */
}

.folder-gallery {
  width: 80px; /* Adjust the size as needed */
  height: 100px;
  background-image: url('images/gallery.png'); /* Add the path to the image for the folder */
}
/* Add CSS for the box container */

.text_shadows {
  text-shadow: 3px 3px 0 var(--color-secondary), 6px 6px 0 var(--color-tertiary),
    9px 9px var(--color-quaternary), 12px 12px 0 var(--color-quinary);
 font-family: 'Share Tech Mono', monospace;
  font-weight: 100;
  font-size: calc(5rem + 3vw);
  text-align: center;
  margin: 0;
  color: var(--color-primary);
  animation: shadows 1.2s ease-in infinite, move 1.2s ease-in infinite;
  letter-spacing: 0.4rem;
}

/* PROJECTS*/
.card-container {
  margin-top:60px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px; /* Hide overflow for overlay */
}

.card,
.card1,
.card2,
.card3 {
  width: 27%; /* Adjust the width and margin as needed */
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
  position: relative;
  overflow: hidden;
  margin-left:80px;
  margin-right:80px;
  margin-top:80px;
}

.card:hover,
.card1:hover,
.card2:hover,
.card3:hover {
  transform: scale(1.2);
}

.card .card-body,
.card1 .card-body,
.card2 .card-body,
.card3 .card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
}

.card .card-img-top,
.card1 .card-img-top,
.card2 .card-img-top,
.card3 .card-img-top {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.card::before,
.card1::before,
.card2::before,
.card3::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8); /* Adjust the overlay background color and opacity */
  opacity: 0;
  transition: opacity 0.5s ease;
}

.card:hover::before,
.card1:hover::before,
.card2:hover::before,
.card3:hover::before {
  opacity: 1;
}

.card::after,
.card1::after,
.card2::after,
.card3::after {
  content: "click!"; /* Replace with your desired text */
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1rem;
  color: #07077B; /* Adjust the text color */
  opacity: 0;
  transition: opacity 0.5s ease;
}

.card:hover::after,
.card1:hover::after,
.card2:hover::after,
.card3:hover::after {
  opacity: 1;
}


.btn-primary:hover {
  background-color: #0069d9;
  border-color: #0062cc;
}

.btn-primary:hover {
  background-color: #0069d9;
  border-color: #0062cc;
}

/*ABOUT ME*/
.resume {
  margin-left: 100px;
  margin-right: 100px;
}
.resume .resume-title {
  font-size: 26px;
  font-weight: 700;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #050d18;
}

.resume .resume-item {
  padding: 0 0 20px 20px;
  margin-top: -2px;
  border-left: 2px solid black;
  position: relative;
}

.resume .resume-item h1{
  font-size: 30px;
  padding: 0 0 20px 20px;
  margin-top: -2px;
  border-left: 2px solid black;
  position: relative;
}

.resume .resume-item h4 {

  line-height: 18px;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  color: #050d18;
  margin-bottom: 10px;
}

.resume .resume-item h5 {
  font-size: 16px;
  background: #FFD93B;
  padding: 5px 15px;
  display: inline-block;
  font-weight: 600;
  margin-bottom: 10px;
}

.resume .resume-item ul {
  padding-left: 20px;
}

.resume .resume-item ul li {
  padding-bottom: 10px;
}

.resume .resume-item:last-child {
  padding-bottom: 0;
}

.resume .resume-item::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50px;
  left: -9px;
  top: 0;
  background: #fff;
  border: 2px solid #1f5297;
}

@keyframes shadows {
  0% {
    text-shadow: none;
  }
  10% {
    text-shadow: 3px 3px 0 var(--color-secondary);
  }
  20% {
    text-shadow: 3px 3px 0 var(--color-secondary),
      6px 6px 0 var(--color-tertiary);
  }
  30% {
    text-shadow: 3px 3px 0 var(--color-secondary),
      6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary);
  }
  40% {
    text-shadow: 3px 3px 0 var(--color-secondary),
      6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary),
      12px 12px 0 var(--color-quinary);
  }
  50% {
    text-shadow: 3px 3px 0 var(--color-secondary),
      6px 6px 0 var(--color-tertiary),

    }
}
